[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
redis = "*"
cachetools = "*"
gunicorn = "*"
gevent = "*"
"bs4" = "*"
lxml = "*"

[dev-packages]
python-dotenv = "*"
"fabric3" = "*"

[requires]
python_version = "3.6"
